<table>

        <tr>
          <th>施設名</th>
          <td><%= @room.name %></td>
        </tr>

        <tr>
          <th>施設詳細</th>
          <td><%= @room.description %></td>
        </tr>

        <tr>
          <th>料金</th>
          <td><%= @room.price %></td>
        </tr>

        <tr>
          <th>住所</th>
          <td><%= @room.address %></td>
        </tr>

</table>